body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

@media screen and (orientation:portrait){
    #game-container{
        width:60vw;
        height: 60vw;
        margin: 5vh auto;
        background-color: aquamarine;
        position: relative;
        border: 0.5vw solid black;
    }
}

@media screen and (orientation:landscape){
    #game-container{
        width:35vw;
        height: 35vw;
        margin: 5vh auto;
        background-color: aquamarine;
        position: relative;
        border: 0.5vw solid black;
    }
}

#box{
    width: 10vw;
    height: 10vw;
    max-width: 80px;
    max-height: 80px;
    background-color: crimson;
    position: absolute;
    cursor: pointer;
    transition: all 0.2s;
}