html{
    background-color: #DBE2EF;
}

h1{
    color: #112D4E;
}

.colour{
    font-weight: 100;
}

#black{
    color: black;
}

#white{
    color: white;
}

#blue{
    color: blue;
}

#green{
    color: green;
}

#yellow{
    color: yellow;
}

#orange{
    color: orange;
}

#red{
    color: red;
}

#brown{
    color: brown;
}

#grey{
    color: grey;
}

#purple{
    color: purple;
}