.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 10;
    font-style: normal;
}

.indie-flower-light {
    font-family: "Indie Flower", cursive;
    font-weight: 10;
    font-style: normal;
}

body{
    background-color: antiquewhite;
}

#title{
    text-align: center;
    margin: 0;
}

#subtitle{
    text-align: center;
    margin: 0vw 0vw 3vw 0vw;
}

.game-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 4vw 0vw;
}

.gameBox{
    height: 10vw;
    width: 40vw;

    border: 0.3vw solid black;
    border-radius: 2vw;

    background-color: aquamarine;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0vw;

    font-size: 4vw;

    cursor: pointer;
}

#Green-Alien{
    position: fixed;
    bottom: 0;
}

#end{
    height: 600vh;
    width: 50vw;

    margin: 10vw auto;  

    border: 1vw solid black;
    border-radius: 2vw;

    background: linear-gradient(180deg, 
        red, orange, yellow, green, cyan, blue, violet);
}
