
@font-face {
    font-family: "indie-flower";
    src: url("/assets/fonts/Indie_Flower/IndieFlower-Regular.ttf") format("truetype");
    font-weight: 10;
    font-style: normal;
}

html{
    font-size: 150%;
}

body{
    background-color: antiquewhite;
    font-family: "indie-flower",sans-serif;
}
