
@font-face {
    font-family: "Roboto_Mono";
    src: url("assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

html{
    font-size: 150%;
}

body{
    background-color: #353535;
    font-family: "Roboto_Mono" cursive;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
}

a:active{
    color: white;
}

a:hover{
    color: #EF233C;
}